<!DOCTYPE html>
<html>
  <head>
    <title>CanaBnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <!--Navbar-->

<header>

  <nav class="navbar">
    <h1 class="logo">Logo</h1>
    <ul class="nav-links">
      <li class="nav-item"><a href="#">Home</a></li>
      <li class="nav-item"><a href="#">Browse</a></li>
      <li class="nav-item"><a href="#">Become a host</a></li>
      <li class="nav-item"><a href="#">About</a></li>
      <li class="nav-item"><a href="#">Log in</a></li>
      <li class="nav-item"><a href="#">Join us!</a></li>
    </ul>
  </nav>

</header>

<% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

    <%= yield %>
  </body>
</html>
