<!DOCTYPE html>
<html>
  <head>
    <title>CanaBnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <!--Navbar-->

<div class="topnav" id="myTopnav">
  <a href="#home" class="darklink">Home</a>
  <a href="#becomeahost" class="darklink">Become a host</a>
  <a href="#browse" class="darklink">Browse</a>
  <a href="#about" class="darklink">About</a>
  <a href="#signin" class="darklink" style="float:right">Sign in</a>
  <a href="#signup" class="signup" style="float:right">Sign up</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
  <ul class="topnav">
    <% if account_signed_in? %>
      <li class="darklink">
        <%= link_to 'A user is signed in!', '#', class: 'login-alert' %>
      </li>
    <% else %>
      <li class="darklink">
        <%= link_to 'No user is signed in :(', '#', class: 'login-alert' %>
      </li>
    <% end %>
  </ul>
</div>

<% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

    <%= yield %>
  </body>
</html>
